APP_URL="http://localhost"

DATABASE_HOST="localhost"
DATABASE_USERNAME="root"
DATABASE_PASSWORD=""
DATABASE_NAME="redis3"

REDIS_HOST="localhost"
REDIS_USERNAME="default"
REDIS_PASSWORD=""
REDIS_PORT="6379"
REDIS_PREFIX="candycbt:"
REDIS_TIMEOUT=0
REDIS_DATABASE=0